body {
    background-color: rgb(25, 25, 25);
}

.text {
    font-size: 30px;
    color: white;
    font-family: arial;
    font-weight: bold;
}
.game-buttons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: auto;
    height: 100px;
}

.game-buttons button {
    transition: transform 0.2s;
}

.game-buttons button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px white;
    
}

.game-buttons button:active {
    transform: scale(0.95);
}

.rock-button,
.paper-button,
.scissors-button {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 3px solid white;
    cursor: pointer;
}

.rock-image,
.paper-image,
.scissors-image {
    width: 50px;
}

.result {
    color: white;
    font-size: 25px;
    font-family: arial;
    margin-top: 70px;
    font-weight: bold;
}
.stats {
    color: white;
    font-family: arial;
    font-size: 16px;
    margin-top: 25px;
}
.moves {
    color: white;
    font-family: arial;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 60px;
}

.reset-button {
    width: 113px;
    height: 33px;
    font-size: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}
